.Menu{
    background-color: rgb(235, 155, 90);
    margin: 0;
    padding: 0;
    display:flex;

}
.Principal{
    position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        border: 1px solid rgb(0, 0, 0);
        padding: 40px;
        background-color: rgb(240, 171, 81);
}

.Secundario{
    text-align: center;

}
