/* Juego.css */

.main-juego-page {
    display: flex;
    flex-direction: row;
    gap: 20px;

  }
  
  .left-side {
    width: 70%;
  }
  
  .contenedor-banner {
    z-index: 1;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.3));
  }
  
  .asides {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    padding: 20px 20px 15px 20px;
  }
  
  .banner-Foto img {
    position: relative;
    width: 200px;
    height: 300px;
    display: flex;
    flex-direction: column;
    gap: 7px;
    border-radius: 10px;

  }
  
  .banner-info {
    margin-left: 20px;
  }
  
  .show-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color:aliceblue;
  }

  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;
  }

  .button-heart {
    background-color: rgba(61, 61, 61, 0.3058823529);
    border: #f0b400 solid 2px;
    border-radius: 10px;
    padding: 10px;
    margin: 0;
    font-size: 0.9em;
    color: #fff;
    transition: background-color 0.3s ease;
  }
  
  /* Puedes ajustar los estilos de las etiquetas <label> y <p> según tus necesidades */
  
  .info-abajo {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgba(220, 208, 208, 0.053);;
    color: #fff;
  }
  
  /* Puedes ajustar los estilos del texto de la descripción según tus necesidades */
  /* Juego.css */

/* ... (tu código anterior) ... */

.Comentarios-section {
    margin-top: 20px;
    padding: 20px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.3));
    border-radius: 10px;
  }
  
  .Comentarios-section h2 {
    color: #fff;
  }
  
  .Comentarios-section form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .Comentarios-section label,
  .Comentarios-section textarea {
    width: 100%;
  }
  
  .Comentarios-section textarea {
    height: 100px;
  }
  
  .Comentarios-section button {
    background-color: rgba(61, 61, 61, 0.3058823529);
    border: #f0b400 solid 2px;
    border-radius: 10px;
    padding: 10px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .Comentarios-section button:hover {
    background-color: #f0b400;
  }
  
  .Comentarios-section ul {
    list-style: none;
    padding: 0;
  }
  
  .Comentarios-section li {
    border: 1px solid rgba(220, 208, 208, 0.053);
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: rgba(61, 61, 61, 0.3058823529);
    color: #fff;
  }
  